# dependencies
node_modules

# env
.env
.env.*

# db / local data
app.db
*.db

# uploads (local runtime files)
public/uploads
public/uploads/**

# OS
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local db
app.db
*.db

# uploads
public/uploads
public/uploads/*
